/* LOL, made you look - aight, I won't be lazy*/

#add {
    background-color: #EFC83C;
    color: #FFF;
}

#sub {
    background-color: #F5007A;
    color: #FFF;
}

#mult {
    background-color: #573A94;
    color: #FFF;
}

#div {
    background-color: #26C3EF;
    color: #FFF;  
}

#del {
    background-color: #000;
    color: #FFF;
}

#sum {
    margin-left: 10px;  
}

#mainL {
    background-color: #6191A8;
    position: absolute;
    width: 380px;
    height: 300px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#title {
    position: relative;
    left:33%;
}

#buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#num-one {
    width:50px;
    margin-left: 10px;  
}

#num-two {
    width:50px;
}

#nums {
    font-size: 15px;
    margin-left: 10px; 
}

body {
    background-image: url("../images/background.jpg");
}